@page "{id}"
@model WEB_053505_Pronin.Areas.Admin.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Accessory.Image" width="70" height="70">
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Accessory.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
