@page
@model WEB_053505_Pronin.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Accessory?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
